<h1>Administrators#index</h1>
<p>Find me in app/views/administrators/index.html.erb</p>

<h2>管理者一覧</h2>

<%= link_to '新規', administrators_new_path %>

<table>
  <tr>
    <th>ID</th>
    <th>メールアドレス</th>
    <th>最終ログイン日時</th>
    <th>ログイン回数</th>
    <th colspan='2'></th>
  </tr>
<% @administrators&.each do |administrator| %>
  <tr>
    <td><%= administrator.id %></td>
    <td><%= administrator.email %></td>
    <td><%= administrator.current_sign_in_at %></td>
    <td><%= administrator.sign_in_count %></td>
    <td><%= link_to '詳細', administrators_detail_path(administrator.id) %></td>
    <td><%= link_to '更新', administrators_update_path(administrator.id) %></td>
  </tr>
<% end %>
</table>